/* Hide unecessary non-javascript widgets */
.js #issue-list-overlay .hide-js{
  display:none;
}
/* Define the issue list window (non javascript, bottom of the page) */
#issue-list-overlay{
  position:relative;
  bottom:0px;
  z-index:1;
  width:100%;
}
#issue-list-overlay .ajax-progress{
  min-width:250px;
}
#issue-list-overlay h2{
  color:#AFAFAF;
  padding:20px;
  margin-bottom:0px;
}
#issue-list-overlay table{
  width:100%;
}
#issue-list-overlay #issue-list-main{
  width:auto;
  margin:15px;
  display:block;
}
#issue-list-overlay #issue-list-main fieldset .fieldset-wrapper{
  height:200px;
  overflow-y:scroll;
}
#issue-list-content-scroll{
  overflow:auto;
  position:relative;
}
#issue-list-add-form{
  padding:0 20px;
}
#issue-list-overlay #issue-list-main fieldset{
  width:45%;
  vertical-align:top;
  display:inline-block;
  min-width:320px;
}
#issue-list-overlay #element-fieldset{
  width:100%;
}
#issue-list-overlay #element-fieldset .form-item{
  width:48%;
  margin-right:2%;
  display:inline-block;
}
#issue-list-overlay #element-field{
  border:0px;
}
#edit-issue-table tbody td.element-column:hover{
  cursor:pointer;
  background:#ccc;
}
.issue-list-popup{
  background:#fff;
  padding:10px 20px;
  position:absolute;
  cursor:pointer;
  font-size:70%;
  width:200px;
}
.issue-list-popup ul{
  list-style-type:none;
}
.issue-list-highlight,.issue-list-popup{
  outline:3px solid red;
  z-index:598;
  opacity:0.8;
}

/* JavaScript only layout */
.js #issue-list-overlay{
  position:fixed;
  bottom:0px;
  z-index:599;
  right:0px;
}
.js #issue-list-overlay #issue-list-main.collapsed{
  float:right;
  width:100px;
}

/* Javascript sorting (dataTables plugin) */
.js #edit-issue-table th a{
  display:inline-block;
  padding-right:20px;
}

.js #edit-issue-table th.sorting_asc a{
  background: url('/misc/arrow-asc.png') no-repeat right;
}
.js #edit-issue-table th.sorting_desc a{
  background: url('/misc/arrow-desc.png') no-repeat right;
}
.js #edit-issue-table .dataTables_length,
.js #edit-issue-table .dataTables_filter{
  display:inline-block;
  width:50%;
  vertical-align:middle;
}

/* ADMIN */
ul#issue-summary span{
  font-size:1.2em;
}
ul#issue-summary li{
  margin-bottom:10px;
}
.page-admin-issue-list h2{
  margin-top:20px;
}